@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-padding {
  margin: 50px;
}

.space-line {
  margin: 20px 0 20px 0;
  text-align: center;
}

.drawer-button {
  width: 100%;
  margin-left: 0px;
}

.todo-list-visibale {
  display: block!important;
}

.todo-list-invisibale {
  display: none!important;
}

.table-name-col-width {
  width: 15%;
}

.table-content-col-width {
  width: 35%;
}

.urgent-bg-color {
  color: #ff0000;
}

.not-so-urgent-bg-color {
  color: #faff00;
}

.normal-bg-color {
  color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
